<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict>
		<key>243LU875E5.groups.com.apple.podcasts</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>243LU875E5.groups.com.apple.podcasts</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>com.apple.AccountAuthenticationDialog</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AccountAuthenticationDialog</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/AccountAuthenticationDialog.app</string>
		</dict>
		<key>com.apple.AppStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AppStore</string>
			<key>CFBundleVersion</key>
			<string>273.13</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/AppStore.app</string>
		</dict>
		<key>com.apple.Health</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.Health</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Health.app</string>
		</dict>
		<key>com.apple.Health.DiagnosticExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.Health.DiagnosticExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/Health.app/PlugIns/com.apple.Health.HealthDiagnosticExtension.appex</string>
		</dict>
		<key>com.apple.HealthPrivacyService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.HealthPrivacyService</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/HealthPrivacyService.app</string>
		</dict>
		<key>com.apple.Maps</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.Maps</string>
			<key>CFBundleVersion</key>
			<string>7.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Maps.app</string>
		</dict>
		<key>com.apple.MobileStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.MobileStore</string>
			<key>CFBundleVersion</key>
			<string>1187.21</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/MobileStore.app</string>
		</dict>
		<key>com.apple.Music</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.Music</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Music.app</string>
		</dict>
		<key>com.apple.Music.MediaSocialShareService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.Music.MediaSocialShareService</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/Music.app/PlugIns/MediaSocialShareService.appex</string>
		</dict>
		<key>com.apple.Music.MusicCoreSpotlightExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.Music.MusicCoreSpotlightExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/Music.app/PlugIns/MusicCoreSpotlightExtension.appex</string>
		</dict>
		<key>com.apple.SafariViewService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.SafariViewService</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/SafariViewService.app</string>
		</dict>
		<key>com.apple.ServerDocuments</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ServerDocuments</string>
			<key>CFBundleVersion</key>
			<string>1.0.1</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/ServerDocuments.app</string>
		</dict>
		<key>com.apple.ServerDocuments.ServerDocumentProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ServerDocuments.ServerDocumentProvider</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/ServerDocuments.app/PlugIns/ServerDocumentProvider.appex</string>
		</dict>
		<key>com.apple.ServerDocuments.ServerFileProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ServerDocuments.ServerFileProvider</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/ServerDocuments.app/PlugIns/ServerFileProvider.appex</string>
		</dict>
		<key>com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/WebContentAnalysisUI.app</string>
		</dict>
		<key>com.apple.WebViewService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.WebViewService</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/WebViewService.app</string>
		</dict>
		<key>com.apple.calculator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.calculator</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Calculator.app</string>
		</dict>
		<key>com.apple.datadetectors.DDActionsService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.datadetectors.DDActionsService</string>
			<key>CFBundleVersion</key>
			<string>184.1</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/DDActionsService.app</string>
		</dict>
		<key>com.apple.facetime</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.facetime</string>
			<key>CFBundleVersion</key>
			<string>36</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/FaceTime.app</string>
		</dict>
		<key>com.apple.gamecenter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.gamecenter</string>
			<key>CFBundleVersion</key>
			<string>367.504</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Game Center.app</string>
		</dict>
		<key>com.apple.gamecenter.GameCenterUIService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.gamecenter.GameCenterUIService</string>
			<key>CFBundleVersion</key>
			<string>367.504</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/GameCenterUIService.app</string>
		</dict>
		<key>com.apple.gamecenter.TTRGameCenter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.gamecenter.TTRGameCenter</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/Game Center.app/PlugIns/TTRGameCenter.appex</string>
		</dict>
		<key>com.apple.iBooks</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iBooks</string>
			<key>CFBundleVersion</key>
			<string>3463.20.6</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/iBooks.app</string>
		</dict>
		<key>com.apple.iCloudDriveApp</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iCloudDriveApp</string>
			<key>CFBundleVersion</key>
			<string>1</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/iCloudDriveApp.app</string>
		</dict>
		<key>com.apple.ios.StoreKitUIService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ios.StoreKitUIService</string>
			<key>CFBundleVersion</key>
			<string>798.46</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/StoreKitUIService.app</string>
		</dict>
		<key>com.apple.mobilemail</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilemail</string>
			<key>CFBundleVersion</key>
			<string>53</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/MobileMail.app</string>
		</dict>
		<key>com.apple.mobileme.fmf1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobileme.fmf1</string>
			<key>CFBundleVersion</key>
			<string>500</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/FindMyFriends.app</string>
		</dict>
		<key>com.apple.mobileme.fmf1.FMFTapToRadarExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobileme.fmf1.FMFTapToRadarExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/FindMyFriends.app/PlugIns/FMFTapToRadarExtension.appex</string>
		</dict>
		<key>com.apple.mobileme.fmf1.TodayWidget</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobileme.fmf1.TodayWidget</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/FindMyFriends.app/PlugIns/FMFTodayWidget.appex</string>
		</dict>
		<key>com.apple.mobileme.fmip1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobileme.fmip1</string>
			<key>CFBundleVersion</key>
			<string>500</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/FindMyiPhone.app</string>
		</dict>
		<key>com.apple.mobileme.fmip1.FMIPTapToRadarExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobileme.fmip1.FMIPTapToRadarExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/FindMyiPhone.app/PlugIns/FMIPTapToRadarExtension.appex</string>
		</dict>
		<key>com.apple.mobilenotes</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilenotes</string>
			<key>CFBundleVersion</key>
			<string>996.20.1</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/MobileNotes.app</string>
		</dict>
		<key>com.apple.mobilenotes.DiagnosticExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilenotes.DiagnosticExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/MobileNotes.app/PlugIns/NotesDiagnosticExtension.appex</string>
		</dict>
		<key>com.apple.mobilenotes.NotesExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilenotes.NotesExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/MobileNotes.app/PlugIns/com.apple.mobilenotes.NotesExtension.appex</string>
		</dict>
		<key>com.apple.mobilenotes.SharingExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilenotes.SharingExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/MobileNotes.app/PlugIns/com.apple.mobilenotes.SharingExtension.appex</string>
		</dict>
		<key>com.apple.mobilenotes.SpotlightIndexExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilenotes.SpotlightIndexExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/MobileNotes.app/PlugIns/com.apple.mobilenotes.SpotlightIndexExtension.appex</string>
		</dict>
		<key>com.apple.mobilephone</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilephone</string>
			<key>CFBundleVersion</key>
			<string>36</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/MobilePhone.app</string>
		</dict>
		<key>com.apple.mobilesafari</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilesafari</string>
			<key>CFBundleVersion</key>
			<string>601.1</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/MobileSafari.app</string>
		</dict>
		<key>com.apple.mobilesafari.SafariDiagnosticExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilesafari.SafariDiagnosticExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/MobileSafari.app/PlugIns/com.apple.mobilesafari.SafariDiagnosticExtension.appex</string>
		</dict>
		<key>com.apple.news</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.news</string>
			<key>CFBundleVersion</key>
			<string>468.1</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/News.app</string>
		</dict>
		<key>com.apple.news.addrssfeed</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.news.addrssfeed</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/News.app/PlugIns/Add to News.appex</string>
		</dict>
		<key>com.apple.news.diagnosticextension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.news.diagnosticextension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/News.app/PlugIns/News Diagnostic Extension.appex</string>
		</dict>
		<key>com.apple.podcasts</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.podcasts</string>
			<key>CFBundleVersion</key>
			<string>1125.29</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Podcasts.app</string>
		</dict>
		<key>com.apple.podcasts.DiagnosticExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.podcasts.DiagnosticExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/Podcasts.app/PlugIns/com.apple.podcasts.DiagnosticExtension.appex</string>
		</dict>
		<key>com.apple.podcasts.SpotlightIndexExtension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.podcasts.SpotlightIndexExtension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/Podcasts.app/PlugIns/com.apple.podcasts.SpotlightIndexExtension.appex</string>
		</dict>
		<key>com.apple.share</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.share</string>
			<key>CFBundleVersion</key>
			<string>87</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/SocialUIService.app</string>
		</dict>
		<key>com.apple.share.Facebook.post</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.share.Facebook.post</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/SocialUIService.app/PlugIns/com.apple.social.FacebookComposeService.appex</string>
		</dict>
		<key>com.apple.share.Flickr.post</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.share.Flickr.post</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/SocialUIService.app/PlugIns/com.apple.social.FlickrComposeService.appex</string>
		</dict>
		<key>com.apple.share.SinaWeibo.post</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.share.SinaWeibo.post</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/SocialUIService.app/PlugIns/com.apple.social.SinaWeiboComposeService.appex</string>
		</dict>
		<key>com.apple.share.TencentWeibo.post</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.share.TencentWeibo.post</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/SocialUIService.app/PlugIns/com.apple.social.TencentWeiboComposeService.appex</string>
		</dict>
		<key>com.apple.share.Twitter.post</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.share.Twitter.post</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/SocialUIService.app/PlugIns/com.apple.social.TwitterComposeService.appex</string>
		</dict>
		<key>com.apple.share.Vimeo.post</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.share.Vimeo.post</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/SocialUIService.app/PlugIns/com.apple.social.VimeoComposeService.appex</string>
		</dict>
		<key>com.apple.stocks</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.stocks</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Stocks.app</string>
		</dict>
		<key>com.apple.stocks.widget</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.stocks.widget</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/Applications/Stocks.app/PlugIns/StocksWidget.appex</string>
		</dict>
		<key>com.apple.tips</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.tips</string>
			<key>CFBundleVersion</key>
			<string>159</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Tips.app</string>
		</dict>
		<key>com.apple.weather</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.weather</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Weather.app</string>
		</dict>
		<key>com.apple.webapp</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.webapp</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/Web.app</string>
		</dict>
		<key>com.apple.webapp1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.webapp1</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/Applications/WebApp1.app</string>
		</dict>
		<key>com.arayesh.Samen-Institution</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.arayesh.Samen-Institution</string>
			<key>CFBundleVersion</key>
			<string>1.8</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/var/containers/Bundle/Application/417D9213-C538-4388-BCA3-12029B259FFD/Samen Institution.app</string>
		</dict>
		<key>com.burbn.instagram</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.burbn.instagram</string>
			<key>CFBundleVersion</key>
			<string>44338396</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/var/containers/Bundle/Application/CE8C06E5-6D91-4238-AC34-5DF0E223EDBD/Instagram.app</string>
		</dict>
		<key>com.burbn.instagram.shareextension</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.burbn.instagram.shareextension</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/var/containers/Bundle/Application/CE8C06E5-6D91-4238-AC34-5DF0E223EDBD/Instagram.app/PlugIns/InstagramShareExtension.appex</string>
		</dict>
		<key>group.com.apple.ServerDocuments</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.com.apple.ServerDocuments</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>group.com.apple.icloud.fm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.com.apple.icloud.fm</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>group.com.apple.news</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.com.apple.news</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>group.com.apple.notes</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.com.apple.notes</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>group.com.apple.stocks</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.com.apple.stocks</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>group.com.apple.weather</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.com.apple.weather</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>group.com.burbn.instagram</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.com.burbn.instagram</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>group.com.facebook.family</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.com.facebook.family</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>group.ph.telegra.Telegraph</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>group.ph.telegra.Telegraph</string>
			<key>ContainerContentClass</key>
			<string>Shared/AppGroup</string>
		</dict>
		<key>ph.telegra.Telegraph</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ph.telegra.Telegraph</string>
			<key>CFBundleVersion</key>
			<string>59355</string>
			<key>ContainerContentClass</key>
			<string>Data/Application</string>
			<key>Path</key>
			<string>/var/containers/Bundle/Application/EAEDE4BA-F08A-4A40-96C6-F528833528E1/Telegram.app</string>
		</dict>
		<key>ph.telegra.Telegraph.Share</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ph.telegra.Telegraph.Share</string>
			<key>ContainerContentClass</key>
			<string>Data/PluginKitPlugin</string>
			<key>Path</key>
			<string>/var/containers/Bundle/Application/EAEDE4BA-F08A-4A40-96C6-F528833528E1/Telegram.app/PlugIns/Share.appex</string>
		</dict>
	</dict>
	<key>BackupKeyBag</key>
	<data>
	VkVSUwAAAAQAAAADVFlQRQAAAAQAAAABVVVJRAAAABCPUf2qwVBAIbmLS+2QZdqjSE1D
	SwAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAV1JBUAAA
	AAQAAAAAU0FMVAAAABRhQj0TmZleSOqBl9WmdyjRHLplJklURVIAAAAEAAAnEFVVSUQA
	AAAQ0uwGjHmtSR6uU4Euyoc4/ENMQVMAAAAEAAAAC1dSQVAAAAAEAAAAA0tUWVAAAAAE
	AAAAAFdQS1kAAAAozZSQ3QG+YR7FibDRcIwCMlmCHmp9lhMU2+Fyf/pfV/2JD1xXkxXg
	v1VVSUQAAAAQx3TuUJv6Sv+wf7URZZgi70NMQVMAAAAEAAAACldSQVAAAAAEAAAAA0tU
	WVAAAAAEAAAAAFdQS1kAAAAovzlibHrRfitx++iOO8UoS/xv2AxFaEFvOkTXs/d5DtKM
	ix/dPdlCOFVVSUQAAAAQAjDb62JPRk+S8PsPqFs2N0NMQVMAAAAEAAAACVdSQVAAAAAE
	AAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoa8nuju+tWZWVXbYkCY0YHe+TkfBbjwpVc9qo
	SDZg0RGLNtGKJM84y1VVSUQAAAAQ2x4xt4kRTEyvP+VmeKV1rUNMQVMAAAAEAAAACFdS
	QVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAolDzranQ/R1IJHH/jK9ABGwl0/gnp
	HFLCnVhgIf+UDBcJVJ/HjJd9i1VVSUQAAAAQDVi5dJ1sQtuXhmyhoUQakENMQVMAAAAE
	AAAAB1dSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoH6ol4uT6mu6cN+7syxvQ
	QVP371Rr0LnA5ASDx4HCI6fOqZCSZEnBolVVSUQAAAAQTdCcpvENR8+IZwuj0wjfKkNM
	QVMAAAAEAAAABldSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoQwgW/RiB4jHI
	hXVG8/ChVMUUoMFmd/r//oFpKmYR8z76dLoOaKFDyFVVSUQAAAAQxI61qryPSASAWH0f
	7pZpv0NMQVMAAAAEAAAABVdSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAojX3a
	QxQxwsCCKslrCam5/4WCv10hQ/t+MlZzBcWAN0WMrIoj5B077lVVSUQAAAAQ5k7+87/i
	Q3KSSuSIbDBigENMQVMAAAAEAAAABFdSQVAAAAAEAAAAAktUWVAAAAAEAAAAAFdQS1kA
	AAAovOiNvleaRXW8E0gUtJ4yHdftprHicwWZGe1+byIPd5/2JQdwql8+IVVVSUQAAAAQ
	rlsBbSUbT3i0KQZVdtL/R0NMQVMAAAAEAAAAA1dSQVAAAAAEAAAAAktUWVAAAAAEAAAA
	AFdQS1kAAAAo1163BQgU64oqnYrN4bWKhlmxtbzbwnsKE0D/mGHmkITwIrHgqGauhFVV
	SUQAAAAQMRz06uoGTu2FuTb7HFWmiENMQVMAAAAEAAAAAldSQVAAAAAEAAAAAktUWVAA
	AAAEAAAAAFdQS1kAAAAoMLIgBa45ikiBHG/GUAykoQegz8cw1Srp9cEvoNxoRNbC6IRu
	e/oRgVVVSUQAAAAQvb2/dgUURxeOfUnpWc36+kNMQVMAAAAEAAAAAVdSQVAAAAAEAAAA
	AktUWVAAAAAEAAAAAFdQS1kAAAAocPZdGS/bKlMK1uEsTBePpYRp6gmZPcHxqCuXSy5R
	FRa0vHuV4YNlbQ==
	</data>
	<key>Date</key>
	<date>2016-11-30T18:58:59Z</date>
	<key>IsEncrypted</key>
	<false/>
	<key>Lockdown</key>
	<dict>
		<key>BuildVersion</key>
		<string>13G36</string>
		<key>DeviceName</key>
		<string>iPhone</string>
		<key>ProductType</key>
		<string>iPhone4,1</string>
		<key>ProductVersion</key>
		<string>9.3.5</string>
		<key>SerialNumber</key>
		<string>DNQJ5MTVDTC0</string>
		<key>UniqueDeviceID</key>
		<string>42b248ee727bb973106eeeaae9fae5785b25c184</string>
		<key>com.apple.Accessibility</key>
		<dict>
			<key>ClosedCaptioningEnabledByiTunes</key>
			<false/>
			<key>InvertDisplayEnabledByiTunes</key>
			<false/>
			<key>MonoAudioEnabledByiTunes</key>
			<false/>
			<key>SpeakAutoCorrectionsEnabledByiTunes</key>
			<false/>
			<key>VoiceOverTouchEnabledByiTunes</key>
			<false/>
			<key>ZoomTouchEnabledByiTunes</key>
			<false/>
		</dict>
		<key>com.apple.MobileDeviceCrashCopy</key>
		<dict/>
		<key>com.apple.TerminalFlashr</key>
		<dict/>
		<key>com.apple.mobile.data_sync</key>
		<dict>
			<key>Bookmarks</key>
			<dict>
				<key>AccountNames</key>
				<array>
					<string>iCloud</string>
				</array>
				<key>Sources</key>
				<array>
					<string>iCloud</string>
				</array>
			</dict>
			<key>Calendars</key>
			<dict>
				<key>AccountNames</key>
				<array>
					<string>iCloud</string>
				</array>
				<key>Sources</key>
				<array>
					<string>iCloud</string>
				</array>
			</dict>
			<key>Contacts</key>
			<dict>
				<key>AccountNames</key>
				<array/>
				<key>Sources</key>
				<array/>
			</dict>
			<key>Notes</key>
			<dict>
				<key>AccountNames</key>
				<array>
					<string>iCloud</string>
				</array>
				<key>Sources</key>
				<array>
					<string>iCloud</string>
				</array>
			</dict>
		</dict>
		<key>com.apple.mobile.iTunes.accessories</key>
		<dict/>
		<key>com.apple.mobile.wireless_lockdown</key>
		<dict/>
	</dict>
	<key>SystemDomainsVersion</key>
	<string>24.0</string>
	<key>Version</key>
	<string>9.1</string>
	<key>WasPasscodeSet</key>
	<true/>
</dict>
</plist>
